## Author
Jamiko Rose

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**:
- List popular languages in data science
- List popular libraries in data science
- Execute computation using Python
- Make a table using rows and pipes

Some of the most popular languages that Data Scientists use, in no particular order, are: 

1. Python
2. R 
3. Julia
4. Java
5. SQL

Some of the commonly used libraries by Data Scientists include: 
1. ggplot2
2. tidyverse
3. dplyr


|Data Science Tools|
|------------|
| R |
| Python |
| SQL |


### Below are a few examples of evaluating arithmetic expressions in Python

1. 15+494288=494,303 
2. 23+473738=473,784 
3. 684+62661=64,713 
4. 38000000383+77229=1.52×10¹¹ 
5. 5389834783+5252719=2.695×10¹⁰

In [6]:
#This is a simple arithmetic expression to multiply and then add integers

(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335